version: 2.1

orbs:
  docker: circleci/docker@2.2.0

jobs:
  build-and-push:
    machine:
      image: ubuntu-2404:current
    resource_class: medium
    steps:
      - checkout

      - run:
          name: Download trained model
          command: |
            curl -L https://recipesage-ml.s3.us-west-2.amazonaws.com/models/grocery-categorizer/ingredient-categorizer-model.tar.gz | tar xzf -

      - run:
          name: Setup Docker Buildx
          command: |
            docker buildx create --name multiarch --use
            docker buildx inspect --bootstrap

      - run:
          name: Login to DockerHub
          command: |
            echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin

      - run:
          name: Build and Push Multi-Architecture Image
          command: |
            if [ "${CIRCLE_BRANCH}" = "main" ]; then
              TAG="latest"
            else
              TAG="${CIRCLE_BRANCH}"
            fi

            COMMIT_TAG="${CIRCLE_SHA1:0:7}"

            docker buildx build \
              --platform linux/amd64,linux/arm64 \
              --tag "${DOCKERHUB_USERNAME}/${CIRCLE_PROJECT_REPONAME}:${TAG}" \
              --tag "${DOCKERHUB_USERNAME}/${CIRCLE_PROJECT_REPONAME}:${COMMIT_TAG}" \
              --push \
              .

workflows:
  version: 2
  build-deploy:
    jobs:
      - build-and-push:
          context: dockerhub
          filters:
            branches:
              only:
                - main
                - develop
